name: GitOps Terraform Apply



on:

  push:

    branches:

      - main



jobs:

  terraform-apply:

    runs-on: ubuntu-latest



    environment: production



    env:

      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}

      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      AWS_DEFAULT_REGION: eu-west-1



    steps:

      - name: Checkout code

        uses: actions/checkout@v4



      - name: Setup Terraform

        uses: hashicorp/setup-terraform@v3



      - name: Terraform Init

        run: terraform init



      - name: Terraform Apply

        run: terraform apply -auto-approve


